/*
/// -------------------------------------------------------------------------------------------------------
/// :: Igrejei - Developed by Agência Star | 15/09/2022 - 18:30.
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 15/09/2022 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

@import url(fonts.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter-Regular', sans-serif;
    background: #F7F7F9;
    color: #050607;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    column-gap: 200px;
}

.column-left {
    flex: 0 0 300px;
}

.column-right {
    flex: 0 0 200px;
}

.item .title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 1.4rem;
}

.item .subtitle {
    color: #888787;
}

.item img, svg {
    width: 80%;
}

.itemResponsive {
  display: none;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-image: linear-gradient(90deg, #faa62f, #f04e23);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 300px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 1rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 300px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

footer {
    padding: 1rem;
    text-align: center;
    background: #FFF;
}

footer p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9rem;
    color: #888787;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .8);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 15px;
  position: relative;
  width: 350px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__close {
  position: absolute;
  top: 35px;
  right: 35px;
  color: #faa62f;
  text-decoration: none;
}

input {
  width: 330px;
  height: 2rem;
  padding-top: 0.42rem;
  padding-bottom: 0.42rem;
  margin: 0.25rem;
  border-radius: 8px;
  border: 1pt solid #888787;
}

input::placeholder {
  padding-left: 1rem;
}

.inputName {
  width: 155px;
}

.selectGender {
  width: 330px;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 8px;
  border: 1pt solid #888787;
  padding: 13px 20px 13px 12px;
}

.birthday {
  width: 80px;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 8px;
  border: 1pt solid #888787;
  padding: 13px 20px 13px 12px;
}

.month {
  width: 130px;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 8px;
  border: 1pt solid #888787;
  padding: 13px 20px 13px 12px;
}

.year {
  width: 100px;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 8px;
  border: 1pt solid #888787;
  padding: 13px 20px 13px 12px;
}

.button-form {
  align-items: center;
  background-clip: padding-box;
  background-image: linear-gradient(90deg, #faa62f, #f04e23);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  margin-bottom: 1rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 350px;
}

.button-form:hover,
.button-form:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-form:hover {
  transform: translateY(-1px);
}

.button-form:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.formText {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.formText a {
  color: #c85000;
  text-decoration: none;
}

.formText a:hover {
  color: #f04e23;
  transition: 0.6s;
}