/*
/// -------------------------------------------------------------------------------------------------------
/// :: Igrejei - Developed by Hebert Dias & Sylvio Lima | 13/09/2022 - 18:30.
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 13/09/2022 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

@import url(reset.css);
@import url(fonts.css);

:root {
  --Light: #F0F0F2;
  --Yellow1: #F29A2E;
  --Yellow2: #F28627;
  --Yellow3: #F26B1D;
  --Yellow4: #F2490C;
  --Dark: #010006;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter-Regular', sans-serif;
  color: var(--Dark);
  background: var(--Light);
}

.page {
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  height: 100vh;
  position: relative;
}

.countdown-col {
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
}

.time {
  color: #000;
  text-transform: uppercase;
  width: 90%;
  display: flex;
  justify-content: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.time span {
  padding: 0 14px;
  font-size: 10px;
}

.time span div {
  font-size: 40px;
}

.newslatter {
  width: 90%;
}

.newslatter h4 {
  font-style: italic;
  font-size: 12px;
}

.newslatter input, .newslatter button {
  display: block;
  margin: 12px auto;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}

.newslatter-button {
  background: linear-gradient(125deg, #3498db, #34495e);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.newslatter-button:hover {
  opacity: 0.7;
}

.newslatter img {
  width: 35%;
}

@media screen and (max-width: 900px) {
  .col {
    flex: 100%;
  }

  .newslatter img {
    width: 85%;
  }
}