/*
/// -------------------------------------------------------------------------------------------------------
/// :: Igrejei - Developed by Agência Star | 15/09/2022 - 18:30.
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 15/09/2022 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

@import url(fonts.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter-Regular', sans-serif;
    background: #F7F7F9;
    color: #050607;
}

.left-content .title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 1.4rem;
    padding-left: 1rem;
}

.left-content .subtitle {
    color: #888787;
    padding-left: 1rem;
}

.left-content img, svg {
    width: 50%;
}

.btn-outline-igrejei {
    color: #050607;
    border-color: #050607;
    width: 200px;
}

.btn-outline-igrejei:hover {
    color: #fff;
    background-image: linear-gradient(#faa62f, #f04e23);
    border-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-igrejei {
    color: #fff;
    background-image: linear-gradient(#faa62f, #f04e23);
    border-color: transparent;
    width: 200px;
}

.btn-igrejei:hover {
    color: #050607;
    border-color: #050607;
    background-image: none;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.right-content .left-button {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: #FFF;
}

footer p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9rem;
    color: #888787;
}

@media (max-width:768px) {
    .right-content .left-button, .right-button {
        margin-bottom: 1rem;
    }

    .left-content img, svg {
        margin-bottom: 2rem;
    }
}

@media (min-width:1200px) {
    .right-content .left-button {
        margin-bottom: 0;
    }
}